.menu-game {
  display: block;
  text-indent: -9999px;
}

.menu-game::after,
.menu-game::before,
.menu-game > .center {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-fourth);
  margin-bottom: 5px;
}

.menu-game::after {
  margin-bottom: 0;
}
