.input-game {
  display: none;
}

.label-game {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.label-game::before {
  content: "";
  display: inline-block;
  border: 3px solid var(--color-fourth);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.input-game:checked + .label-game::before {
  background: var(--color-first);
}
