.header-internal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium) var(--spacing-big);
}

.header-internal > .about {
  margin-left: auto;
  margin-right: var(--spacing-small);
}

@media (min-width: 740px) {
  .header-internal .about.light {
    font-size: 18px;
  }
}
