.header-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 34px;
}

.header-game > .menu-game {
  width: 25px;
}

.header-game > .about {
  margin-left: auto;
  margin-right: 10px;
}

@media (min-width: 740px) {
  .header-game {
    background-color: var(--color-tenth);
  }

  .header-game > .about {
    font-size: 18px;
  }

  .header-game > .menu-game {
    width: 30px;
  }
}
