.app {
  text-align: center;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

.app > .card-game {
  width: 70vw;
  height: 70vw;
  display: inline-block;
  margin-bottom: 40px;
}

.app > .header-game {
  margin: 0 auto 55px;
}
