@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

.about {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #707070;
  position: absolute;
  top: 0;
  right: 0;
  margin: 21px 70px 0 0;
  text-decoration: none;
  font-weight: bold;
}
