.user-profile {
  color: var(--color-zero);
}

.user-profile > .avatar {
  margin-bottom: var(--spacing-medium);
}

.user-profile .avatar-profile {
  width: 130px;
  height: 130px;
}

.user-profile > .title {
  font-size: var(--size-big);
  font-weight: bold;
  margin-bottom: var(--spacing-small);
}

.user-profile > .description {
  width: 70%;
  margin: 0 auto var(--spacing-big);
  line-height: 1.6;
}

.user-profile > .social {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

@media (min-width: 740px) {
  .user-profile .avatar-profile {
    width: 150px;
    height: 150px;
  }

  .user-profile > .title {
    font-size: 38px;
  }

  .user-profile > .social {
    width: 30%;
  }
}
